@using Contracts.Authentication
@attribute [Route(Routes.Client.TokenHandler)]
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div>asd</div>

@code
{
    [Parameter]
    [SupplyParameterFromQuery]
    public AuthenticationRequest Request { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        if (Request is null)
        {
            Console.WriteLine("Request is null");
            return;
        }
        else
        {
            await LocalStorage.SetItemAsync("authToken", Request.Token);
            NavigationManager.NavigateTo(Routes.Client.Index);
        }
    }
}